---
layout: default
scrolljs: true
---
<script data-ad-client="ca-pub-7298412674922414" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="jumbotron welcome bg-primary-linear">
  <div class="container">
    <div class="row justify-content-between align-items-bottom">
      <div class="col-lg-5 text-center text-lg-left pb-10">

        <h1>{{ site.description }}</h1>
        <p>made for the best pure Android experience!</p>
        <a class="btn btn-primary text-primary" href="https://download.aospk.org/">
          {% include svg/download.svg %} Download</a>
        <a class="btn btn-link text-white" href="{{ site.baseurl }}/blog">Blog</a>

      </div>
      <img alt="Home" src="assets/img/peek_device.png" class="welcome-image">
    </div>
  </div>
</div>

<section class="blog bg-primary-lighter">
  <div class="container">
    <div class="post text-lg-left">
      <div>
        <h2>Latest news</h2>

        {% for post in site.categories.blog limit:1 %}
        <h3><a class="fg-primary-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <h6>{{ post.excerpt }}</h6>
        <p>{% include svg/clock.svg %} {{ post.date | date: '%B %d, %Y' }}{% if post.author %} {% include svg/author.svg %} {{ post.author }}{% endif %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="tweaks">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div id="tweaks" class="col-lg-4">
        <img alt="styles" src="assets/img/styles.png" class="img-fluid text-center h-auto">
      </div>

      <div class="col-lg-7 text-center text-lg-left">
        <h2>Individuality</h2>
        <p class="feature">
            Customization is paramount to productivity.
            <br>
            That’s why Kraken promises to push for user personalization and preference.
            <br>
            <br>
            Everyone is unique and your device should be too.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="security bg-security">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7 order-lg-last">
        <img alt="security" src="assets/img/security.png" class="img-fluid text-center h-auto">
      </div>

      <div class="col-lg-4 text-center text-lg-left text-white">
        <h2>Security</h2>
        <p class="feature">
          Your data, your rules. With powerful tools such as Privacy Guard,
          you are in control of what your apps can do whenever you want.<br><br>
        </p>
        <div class="feature-inline-image">
          {% include svg/trust.svg %}
        </div>
        <p>
          Trust will help you understand the security of your device
          and warn you about possible threats.
        </p>
        <br>
        <p class="feature">
          We take security very seriously: that’s why we deliver security
          updates every month to all our supported devices.<br>
          And to make your device more secure, lock everything behind an enhanced
          lock screen.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="longevity">
  <div class="container">
    <div class="row justify-content-between align-items-center bg-customize">

      <div class="col-lg-6">
        <img alt="longevity" src="assets/img/tweaks.png" class="img-fluid text-center" id="rotate-on-scroll">
      </div>

      <div class="col-lg-5 text-center text-lg-left">
        <h2>Customize!</h2>
        <p class="feature">
          Enjoy lots of customizations, custom lockscreens, clocks, fonts, face unlock, app lock, status bar, among many other cool things... plus lots of security, stability and continuous updates<br><br>

          Want to contribute? <a href="{{ site.baseurl }}/community">See how you can make Kraken better</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="tools bg-dark section-background-image parallax">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7 order-lg-last">
        <div class="img-fluid text-center">
          {% include svg/apps.svg %}
        </div>
      </div>

      <div class="col-lg-4 text-center text-lg-left text-white">
        <h2>Free to choose</h2>
        <p class="feature">
          We have two versions,
          <br><br>GApps, for you who like Google services and apps, and also the Vanilla version, only with open source apps, 100% AOSP!
          <br>
        </p>
      </div>

    </div>
  </div>
</section>

<section class="download bg-primary bg-ready" style="margin-bottom: -3rem;">
  <div class="container">
    <div class="text-center">
      <h2>Ready? Get Kraken now!</h2>
      <p class="feature">
        Kraken, an AOSP based, open source Android distribution with improvements and customizations from several other good projects.
        <br>
        It's available for multiple devices, being added continuously thanks to the largest but ever-growing Android open source community.
        <br>
        Join us and breathe new life into your device, be it old or new.
      </p>
      <a class="btn btn-primary" href="https://download.aospk.org/">
        {% include svg/download.svg %} Download
      </a>
    </div>
  </div>
</section>
